.signup {
    padding: 30px 140px;
    background: var(--white);
    border: 1px solid var(--border-color);
    border-radius: 8px;

    &__title {
        margin-top: 16px;
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
        color: var(--text-color);
    }

    &__login {
        text-align: center;
        margin-top: 30px;
        line-height: 1.3;
        color: var(--text-color);
    }

    &__link {
        margin-left: 4px;
        text-decoration: underline;
        font-weight: 600;
    }
}
