.profile {
    margin-top: 30px;
    margin-bottom: 50px;

    &__sidebar {
        position: sticky;
        top: 122px;
        border-radius: 20px;
        background: #eee;
        box-shadow: 0px 20px 60px 10px var(--white);
        overflow: hidden;
        padding-bottom: 30px;
    }
}

.profile-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 20px;
    height: 246px;
    border-radius: 20px 20px 0 0;
    background:
        linear-gradient(180deg, rgba(26, 22, 46, 0) 0%, #1a162e 100%),
        url(../../assets/images/cover-profile.jpg) no-repeat center / cover;
    box-shadow: 0px 20px 60px 10px var(--white);
    color: var(--white);

    &__avatar {
        width: 121px;
        height: 121px;
        border-radius: 50%;
        object-fit: cover;
        border: 5px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
        background: #ccc content-box;
    }

    &__name {
        margin-top: 15px;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.44;
    }
}

.profile-menu {
    margin-top: 30px;
    padding: 0 30px;

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44;
    }

    &__list {
        margin-top: 12px;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 100%;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        height: 32px;
        padding: 0 5px;
        border-radius: 5px;
        line-height: 1.46;
        transition: opacity 0.25s;

        &:hover {
            opacity: 0.8;
        }

        &--active {
            background: #ddd;
            font-weight: 500;
        }
    }
}
