.banner {
    &__item {
        position: relative;
        padding-top: 40%;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        object-fit: cover;
    }

    &__dot {
        display: inline-block;
        height: 15px;
        width: 15px;
        margin: 0 6px;
        background-color: #ccc;
        border-radius: 50%;
        transition: background-color 0.6s ease;
        cursor: pointer;

        &--active,
        &:hover {
            background: #000;
        }

        &--list {
            margin-top: 16px;
            text-align: center;
        }
    }
}
